@import "tailwindcss";

@font-face {
  font-family:'Courier New';
  src: local('Courier New'), local('CourierNew'), url('/fonts/CourierNew.woff2') format('woff2'), url('/fonts/CourierNew.woff') format('woff');
}

@font-face {
  font-family: 'Babas Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010e8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}


html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@theme {
  --text-primary-header: {
    font-size: 200px;

  }
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }

  nav {
    @apply absolute top-1/2 -translate-y-1/2 end-0 z-50 items-center leading-none;

    div {
      @apply p-8 cursor-pointer;
     }

    p {
      @apply text-3xl -mb-2 cursor-pointer;
    }

    a {
      @apply cursor-pointer text-nowrap md:text-base text-sm;
    }

    ul {
      @apply flex-center lg:gap-12 gap-8;
    }
  }

  #hero {
    @apply w-full h-screen flex-center flex-col text-center;

    .header {
      @apply absolute top-0 left-0 lg:w-1/2 md:w-full p-8 text-left overflow-hidden;

      h1 {
        @apply ml-auto mr-auto text-center inline-block relative z-1 text-[100px] md:text-[150px] lg:text-[200px] leading-none text-[#C76E00];
        font-family: 'Babas Neue', sans-serif;
      }
      
      .bar {
        @apply z-2 absolute top-0 left-0 w-full h-[90%] bg-[#C76E00] rounded-xl;
      }
      
      
    }


    .body {
      @apply container mx-auto absolute lg:bottom-36 flex justify-between items-end px-5;

    }
  }

  #menu-overlay {
    @apply  fixed w-full h-full bg-black/90 z-50 flex-center flex-col gap-10 text-4xl rounded-2xl lg:w-1/2 lg:top-[2.5vh] lg:right-[2.5vh] lg:h-[95vh];
    font-family: 'Babas Neue', sans-serif;


    li {
      @apply cursor-pointer;
    }

    ul {
      @apply flex-center flex-col gap-10;
    }

  }

  #animated-link {
    @apply relative cursor-pointer;

    li {
      @apply list-none;
    }

    .liBox {
      @apply text-9xl w-full overflow-hidden;
      height: 1em;
      line-height: 1;
    }

    .liBox a {
      @apply absolute top-0 left-0 w-full overflow-auto;
    }

    .liBox a.duplicate {
      @apply relative top-0 left-0 w-full pointer-events-none;
    }

  }

  #temp-section {
    @apply w-full h-screen flex-center;
  }
}

